.container{
    background-color: white;
    position: absolute;
    width: 60vmin;
    top:20%;
    left:30%;
    right:30%;
    padding: 20px 20px;
    border-radius: 10px;
    box-shadow: 0 20px 40px black;
}
body{
    background-color: #ae9cff;
}
#password{
    color:#32847d;
    
}
.head{
    font-size: 30px;
    position: relative;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #ae9cff;
}
.nd{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    color:rgb(11, 62, 79)
}
.check{
    font-size:20px;
    padding: 20px 0px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color:rgb(11, 62, 79);
}
#gen{
    padding: 15px 10px;
    width:25%;
    background-color: #ae9cff;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border:none;
    outline:none;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 120px;
}
.btn{
    margin-left: 150px;
}
#copied{
    font-size: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color:rgb(11, 62, 79);
    margin-left:100px;
}
.slider{
    margin-left:90px;
}

@media only screen and (max-width: 550px){
    .container{
        left:10%;
    }
    .slider{
        margin-left:20px;
    }
    #copied{
        margin-left:10px;
    }
    .btn{
        margin-left:90px;
    }
    #gen{
        margin-left:70px;
        width:40%
    }
    
}
@media only screen and (max-width: 320px){
    #gen{
        margin-left:70px;
        width:50%
    }
}
